@use '../lib/screenSizes.scss';

.img-container {
  width: 100vw;
  box-sizing: border-box;

  .img {
    display: block;
  }
}

@media screen and (min-width: screenSizes.$SCREEN_WIDTH_LAPTOP) {
  .img-container {
    width: 100%;
  }
  
}