@use '../lib/screenSizes.scss';

.container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profileContainer {
  position: relative;
  width: calc(100vw*1/5);
  height: calc(100vw*1/5);
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem auto;
}

.testimony {
  padding: 0.75rem 1.5rem;
  color: hsl(213, 9%, 39%);
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.name {
  color: hsl(212, 27%, 19%);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.position {
  color: hsl(210, 4%, 67%);
}

@media screen and (min-width: screenSizes.$BIGGER_THAN_PHONE) {
  .profileContainer {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (min-width: screenSizes.$SCREEN_WIDTH_LAPTOP) {
  .testimony {
    width: 70%;
    margin: 3rem auto;
  }
}