@use 'colors';
@use '../lib/screenSizes.scss';

.container {
  display: grid;
  position: relative;

  .background-container {
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
  }

  .background-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .text-container {
    position: absolute;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    bottom: 3rem;

    & > h2 {
      font-weight: 900;
    }
  }

  .text {
    padding: 0.5rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: screenSizes.$SCREEN_WIDTH_LAPTOP) {
  .text-container {
    place-self: center;
    width: 50%;
  }
}