@use 'colors';

.firstbox-container {
  background-image: url('../../public/mobile/image-header.jpg');
  background-size: cover;
  background-position: bottom;
  padding-top: 2.5rem;
  margin: 0;

  .img-container {
    background-image: none;
    margin: 0;
    padding-top: 2rem;
    width: 100%;
    height: 15rem;

    .image {
      fill: colors.$white;
      display: block;
      margin: 0 auto;
      width: 50%;
      height: auto;   
    }

  }

  .h1 {
    color: colors.$white;
    text-align: center;
    letter-spacing: 0.5rem;
    margin: 0;
    font-weight: 900;
  }
}
