@use 'colors';
@use '../lib/screenSizes.scss';

$mobile-header-image-url: '../../public/mobile/image-header.jpg';
$desktop-header-image-url: '../../public/desktop/image-header.jpg';

.firstbox-container {
  margin: 0;
  display: grid;

  .background-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    position: relative;
    grid-column: 1;
    grid-row: 1;

    .background {
      display: block;
      position: relative;
    }
  }

  .content {
    position: relative;
    grid-column: 1;
    grid-row: 1;
  }

  .img-container {
    background-image: none;
    margin: 0;
    margin-top: 20vw;

    .image {
      fill: colors.$white;
      display: block;
      margin: 0 auto;
      width: 50%;
      height: auto;   
    }
  }

  .h1 {
    color: colors.$white;
    text-align: center;
    letter-spacing: 0.5rem;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    font-weight: 900;
    z-index: 1;
    position: relative;
    white-space: pre-wrap;

    @media screen and (max-width: 550px) {
      span::after {
        content: '\A';
      }
    }
  }
}


@media screen and (min-width: screenSizes.$SCREEN_WIDTH_LAPTOP){
  .firstbox-container {
    .img-container {
      margin-top: 8vw;
      .image {
        width: 15rem;
      }
    }

    .h1 {
      font-size: 3rem;
      margin-top: 6rem;
    }
  }
}