@use 'colors';

@mixin hover-effect {
  cursor: pointer;
  color: colors.$white;
}

.container {
  background-color: colors.$lighter-cyan;
  text-align: center;
  color: colors.$dark-moderate-cyan;
  
  h1 {
    margin: 0;
    padding-top: 3rem;
    margin-bottom: 3rem;
  }

  .link-container {
    display: flex;
    justify-content: space-around;

    .link:hover {
      @include hover-effect();
    }
  }

  .icon-container {
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 5rem 0 3.5rem 0;
    margin: 0 auto;

    .icon {
      margin-right: 1.5rem;
      color: colors.$dark-moderate-cyan;
    }

    .icon:hover {
      @include hover-effect()
    }

    .icon:last-child {
      margin-right: 0;
    }
  }
}