@use 'colors';
@use '../lib/screenSizes.scss';

.hidden {
  display: none
}

.greyed-out {
  opacity: 50%;
}

@media (min-width: screenSizes.$SCREEN_WIDTH_LAPTOP){
  .options-container {
    display: flex;
    flex-direction: row;
    float: right;
  
    .option {
      margin-right: 1.5rem;
      cursor: pointer;
      padding: 0.75rem 1rem;
      border-radius: 35px;
      text-align: center;
    }

    .option:hover {
      background-color: colors.$white;
      color: black;
      text-transform: uppercase;
    }
    
    .option::before {
      display: block;
      height: 0;
      content: attr(title);
      text-transform: uppercase;
      visibility: hidden;
    }
  }
}