@use '../lib/screenSizes.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .image-container {
    width: 100%;
    position: relative
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: screenSizes.$SCREEN_WIDTH_LAPTOP) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}